/* ------------------- */
/* Custom properties   */
/* ------------------- */



:root {
    /* colors */
    --clr-dark: 0, 0%, 11%; /* Eerie Black */
    --clr-dark-two: 215, 28%, 17%; /* Gunmetal blue */
    --clr-dark-three: 215, 28%, 25%; /* Dark (lightest) charcoal blue */
    --clr-dark-four: 215, 30%, 22%; /* Dark (lighter) prussian blue #273549*/
    
    --clr-white: 0, 0%, 100%; /* White */
    --clr-light: 255, 5%, 84%; /* Grey Timberwolf */
    
    --clr-accent: 144, 70%, 58%; /* Emerald */
    --clr-accent-two: 160, 84%, 39%; /* Mint */
    --clr-accent-three: 142, 93%, 65%; /* Spring green */

  
  /* font-sizes */

  --fs-600: 2.5rem;
  --fs-500: 1.5rem;
  --fs-400: 1.25rem;
  --fs-300: 1rem;
  

  /* font-families */
  --ff-primary: 'Karla', sans-serif;
  --ff-secondary: 'Inter', sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */

body {
  line-height: 1.5;
  min-height: 100vh;

  overflow-x: hidden;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.grid--board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: start;
  text-align: center;
}

.grid--score {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
}

.col-span {
  grid-column: 1 / span 3; /* Spans from column 1 to column 3 */
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}


.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--small > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 0.75rem);
}

.flow--space-small {
  --flow-space: .75rem;
}

.wrapper {
  width: min(100% - 3rem, 65ch);
  margin-inline: auto; 
}

.text-center {
  text-align: center;
}

#gen-btn {
  background-color: hsl( var(--clr-accent-two) );
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 3px hsl( var(--clr-dark) );
  transition: box-shadow 0.3s ease;
}

#gen-btn:hover {
  box-shadow: 0 2px 5px hsl( var(--clr-light) );
}


/* colors */

.bg-dark { background-color: hsl( var(--clr-dark) );}
.bg-dark-two { background-color: hsl( var(--clr-dark-two) );}
.bg-dark-three { background-color: hsl( var(--clr-dark-three) );}
.bg-dark-four { background-color: hsl( var(--clr-dark-four) );}
.bg-accent { background-color: hsl( var(--clr-accent) );}


.text-dark { color: hsl( var(--clr-dark) );}
.text-accent { color: hsl( var(--clr-accent) );}
.text-white { color: hsl( var(--clr-white) );}
.text-light { color: hsl( var(--clr-light) );}


/* typography */

.ff-primary { font-family: var(--ff-primary); } 
.ff-secondary { font-family: var(--ff-secondary); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.text-center { text-align: center;}
.uppercase { text-transform: uppercase; }
.ff-extra-bold { font-weight: 800; }
.ff-medium { font-weight: 500;}


.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }


.fs-600 {
  line-height: 1;
}

.fs-400 {
  line-height: 1.4;
}

.fs-300-two {
  line-height: 2;
}
.fs-300 {
  line-height: 1.5;
}

.container-main {
  margin: 3em 0;
  padding: 7em 3.25em;
  width: 550px;
  height: 550px;
}

.container-password {
  padding-top: 2em;
}

.border-top {
  border-top:1px solid hsl( var(--clr-light) );
  margin-top: 2rem;
}

.password-box {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 6px;
  width: 211px;
  height: 38px;
  text-align: center;
}

.password-box + .password-box {
  margin-left: 24px;
}


/* #password-one-el, #password-two-el {
  cursor: pointer !important;
  transition: background-color 0.3s ease;
} */
  
/* #password-one-el:hover, #password-two-el:hover {
  background-color: lightgray;
}
  
#password-one-el.clicked, #password-two-el.clicked {
  background-color: yellow;
}
   */